<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<section class="study-permit-shell">
  <h2>Where are you applying from?</h2>

  <p-toast />
  <div class="study-permit-card">
    <form [formGroup]="studyPermitForm" class="study-permit-form">
      <div class="radio-group" role="radiogroup" aria-label="Application location options">
        @for (category of categories; track category.key) {
        <label class="radio-option" [for]="category.key">
          <p-radiobutton formControlName="selectedCategory" name="selectedCategory" [inputId]="category.key"
            [value]="category" />
          <span>{{ category.name }}</span>
        </label>
        }
      </div>
      @if (outside) {
      <div class="flex flex-col gap-1">
        <p-select formControlName="country" [options]="countries" optionLabel="name" placeholder="Select a country"
          styleClass="styled-select" class="w-full md:w-56" (onChange)="onSelectCategory($event)" />


      </div>


      @if (countrySelected) {

      <p>You can come to Canada as an International Student with a valid Study Permit</p>
      <p>The study permit is a document we issue that allows foreign nationals to study at designated learning
        institutions (DLIs) in Canada. Most foreign nationals need a study permit to study in Canada. Make sure you have
        all the documents you need before you apply. You should apply before you travel to Canada.</p>
      <p>Find out how you can apply for a study permit below:</p>

      <app-immigration-journey [type]="type"></app-immigration-journey>
      <p><b>EXCEPTIONS:</b><br />

      <p>Most foreign nationals need a study permit to study in Canada. There are some
        <a href='https://www.canada.ca/en/immigration-refugees-citizenship/services/study-canada/study-permit/eligibility/study-without-permit.html'
          target="_blank">exceptions</a>.
      </p>
      }
      }
    </form>
  </div>
</section>
<!-- type -->