<p-toast></p-toast>

@if(this.showMessage){
  <app-messagebox (closed)="hideMessage()" [status]="status" [msg]="msg"></app-messagebox>
}

<div class="page-wrapper">

  <!-- MAIN SECTION -->
  <section class="study-permit-shell main-section">
    <h1>Update your Application's Progress</h1>
    <h2>You can update the progress of any of the following:</h2>

    <div class="study-permit-card">
      <div class="journey-container">

        @for (step of processSteps; track step.id) {

        <div class="journey-item">

          <div class="step-card"
            (click)="!step.disabled && goToProcessStep(step)"
            [class.completed-card]="completedSteps[step.id]==='COMPLETED'"
            [class.pending-card]="completedSteps[step.id]==='INPROGRESS'"
            [class.notstarted-card]="completedSteps[step.id]==='NOTSTARTED'"
            [class.disabled-card]="step.disabled">

            <i [class]="step.icon" [style.color]="step.color"></i>

            <span class="status-chip"
              [class.completed]="completedSteps[step.id]=== 'COMPLETED'"
              [class.pending]="completedSteps[step.id]==='INPROGRESS'"
              [class.notstarted]="completedSteps[step.id]==='NOTSTARTED'">

              @if(completedSteps[step.id]=== 'COMPLETED') {
                completed
              } @else if (completedSteps[step.id] === 'NOTSTARTED') {
                not started
              } @else {
                in progress
              }
            </span>

            <h3>{{ step.title }}</h3>
            <p>{{ step.description }}</p>

          </div>

        </div>

        }

      </div>
    </div>
  </section>

  <!-- SIDEBAR -->
  <section class="study-permit-shell sidebar-section">
    <h1>Quick Guide</h1>

    <div class="study-permit-card">
      <div class="journey-container">

        @for (step of progressSteps; track step.id) {

        <div class="journey-item">

          <div class="step-card vertical"
            (click)="goToStep(step)">
            <i [class]="step.icon" [style.color]="step.color"></i>
            <h3>{{ step.title }}</h3>
            <p>{{ step.description }}</p>
          </div>

          <div class="connector">
            <i class="pi pi-arrow-right"></i>
          </div>

        </div>

        }

      </div>
    </div>
  </section>

</div>
